
.lightbox {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fbfbfb;
  display: flex;
  visibility: visible;
}
.lightbox.vertical {
  flex-direction: column;
}
.lightbox.horizontal {
  flex-direction: row;
  justify-content: space-between;
}

.lightbox.vertical .lightbox-img {
  max-height: 66vh;
  margin-bottom: 1rem;
}
.lightbox.horizontal .lightbox-img {
  max-width: 100%;
}

.lightbox .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66vw;
  margin-right: 1rem;
  pointer-events: none;
}

.lightbox .desc {
  width: 33vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.lightbox .desc .top {
  width: 100%;
}
.lightbox .source {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 80%;
  display: block;
  overflow: hidden;
}

.lightbox .notes {
  width: 90%;
  height: 300px;
  padding: 1rem;
  border-radius: 8px;
  background-color: #eee;
  white-space: pre-wrap;
  overflow-y: scroll;
}

.lightbox .close {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}

.lightbox h1 {
  margin-right: 2.5rem;
  margin-bottom: 0.25em;
  overflow-wrap: break-word;
}

.lightbox .secondary-name {
  font-family: monospace;
  font-size: smaller;
  margin-top: 0.5em;
}

.lightbox .lightbox-img {
  max-width: 98vw;
  max-height: 98vh;
  width: auto;
  height: auto;
  z-index: -1;
  pointer-events: all;
}

.lightbox-hidden {
  display: none;
  visibility: hidden;
}

.lightbox .buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.lightbox .arrow {
  font-size: 2rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 92px;
  width: 128px;
  margin-right: 1rem;
  background-color: rgba(250, 250, 250, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
}

.lightbox .arrow:hover {
  /*opacity: 1;*/
}

.lightbox .arrow-left {
  left: 0;
}

.lightbox .arrow-right {
  right: 0;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

