
* {
  box-sizing: border-box;;
  font: caption;
  font-size: 16px;
}

body {
  font: caption;
  color: #222;
}

main {
  width: 100vw;
  min-height: 100vh;
  background: #fbfbfb;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

section {
  display: inline-block;
  padding: 1rem;
}

.left {
  background: #fff;
  height: 100%;
  position: fixed;
  width: 300px;
  overflow: scroll;
  padding-bottom: 3rem;
}
.right {
  width: calc(100% - 300px);
  margin-left: auto;
}
.right.expand {
  width: 100%;
  margin-left: 16px;
}

.folders {
}

.folders button {
  display: block;
  cursor: default;
  padding: 0;
  border: 0;
  background: none;
  margin: 0;
}

.folders button:hover {
  color: #f00;
}

.options div {
  padding: 0.5rem 0;
}

.images {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.images img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  opacity: 0;
}

.images .img-loaded {
  opacity: 1;
  transition: opacity 0.3s;
}

.how-to {
  background: #fbfbfb;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 98vw;
  max-height: 98vh;
}

label {
  -webkit-user-select:none;
}

input[type=text] {
  padding: 0.5rem;
  display: inline;
}

input[type=text].inline {
  border: none;
  font-size: 1rem;
  padding: 0;
}

input[type=button] {
  border: none;
  padding: 0.5rem;
  border-radius: 6px;
  background: #f1f2f3;
  margin: 1rem 0;
}


input[type=button]:hover {
  background: #f00;
  color: #fff;
}

input[type=range] {
  display: block;
}

button {
  display: block;
  margin: 0.5rem 0;
}

label {
  /*display: block;*/
  margin-bottom: 0.5rem;
}

#hide-side-panel-ctrl {
  position: fixed;
  left: 16px;
  bottom: 16px;
}

.hidden {
  display: none;
  visibility: hidden;
}




