
* {
  box-sizing: border-box;;
  /*font: caption;*/
  font-family: system-ui;
  font-size: 16px;
}

:focus {
  outline: none;
  box-shadow: 0 0 0 2pt #55f;
}

body {
  color: #222;
}

main {
  width: 100vw;
  min-height: 100vh;
  background: #fbfbfb;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  opacity: 0;
}

section {
  display: inline-block;
  padding: 1rem;
}

p, ul {
  line-height: 1.4;
}

ul {
  list-style: none;
}

li {
  margin: 12px;
}

.left {
  background: #fff;
  height: 100%;
  position: fixed;
  width: 300px;
  overflow: scroll;
  padding-bottom: 3rem;
  box-shadow: 0 0 8px #c1c2c3;
}
.right {
  position: relative;
  width: calc(100% - 300px);
  margin-left: auto;
}
.right.expand {
  width: 100%;
  margin-left: 16px;
}

.dropzone {
  position: fixed;
  width: calc(100vw - 300px);
  height: 100vh;
  color: #fff;
  font-weight: bold;
  background-color: rgba(16, 32, 48, 0.9);
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: opacity 0.1s;
}

.right.expand .dropzone {
  width: 100vw;
}

.folders {
}

.folders button {
  display: block;
  cursor: default;
  padding: 0;
  border: 0;
  background: none;
  margin: 0;
}

.folders button:hover {
  color: #f55;
  background-color: transparent;
}

.options div {
  padding: 0.5rem 0;
}

.images {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  user-select: none;
  min-height: 90vh;
}

.images img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  opacity: 0;
}

.images .img-loaded {
  opacity: 1;
  transition: opacity 0.3s;
}

.pop-up {
  background: #fff;
  border-radius: 6px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 98vw;
  max-height: 98vh;
  box-shadow: 0 0 16px #c1c2c3;
}

kbd {
  padding: 0.2em;
  border-radius: 3px;
  background-color: #f1f2f3;
  font-family: 'Menlo', monospace;
}

label {
  -webkit-user-select:none;
}

input[type=text] {
  padding: 0.5rem;
  display: inline;
}

input[type=text].inline {
  border: none;
  font-size: 1rem;
  padding: 0;
}

input[type=button], button {
  border: none;
  padding: 0.5rem;
  border-radius: 6px;
  background: #f1f2f3;
  margin: 1rem 0;
}


input[type=button]:hover, button:hover {
  background: #f55;
  color: #fff;
}

input[type=range] {
  display: block;
}

textarea {
  background-color: #f1f2f3;
  border: none;
  border-radius: 6px;
  max-width: 100%;
}

button {
  display: block;
  margin: 0.5rem 0;
}

label {
  /*display: block;*/
  margin-bottom: 0.75rem;
}

#hide-side-panel-ctrl {
  position: fixed;
  left: 16px;
  bottom: 16px;
  z-index: 900;
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.no-scroll {
  overflow: hidden;
}

.fade-in {
  animation: 0.5s forwards fade-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
