body {
  font-family: sans-serif;
  background: #fbfbfb;
  color: #222;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

section {
  display: inline-block;
  padding: 1rem;
}

.left {
  position: fixed;
  width: 30%;
}
.right {
  width: 70%;
  margin-left: auto;
}

.folders {
}

.folders span {
  display: block;
  cursor: default;
}

.folders span:hover {
  color: #f00;
}

.images {
  border-top: 1px dotted #000;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.images img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  opacity: 0;
}

.images .img-loaded {
  opacity: 1;
  transition: opacity 0.3s;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid #000;
  padding: 1rem;
  margin-bottom: 1rem;
}

input[type=button] {
  border: none;
  padding: 1rem;
  border-radius: 6px;
  background: #f1f2f3;
  margin-left: 1rem;
}

input[type=button]:hover {
  background: #f00;
  color: #fff;
}
